*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_first{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    
    background: #1c1c1c;
}
.main_first_container{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.main_first_container_header{
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 5%;
    margin-bottom: 30px;
}
.main_first_container_header_logo{
    width: 20%;
    display: flex;
    align-items: center;
    margin-right: 200px;
}
.header_logo_img{
    width: 65px;
    height: 48px;
    margin-right: 20px;
}
.header_logo_text{
    color: #FFF;
    font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.main_first_container_header_menu{
    display: flex;
    align-items: center;
}
.header_menu_list{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.header_menu_list_1, .header_menu_list_2, .header_menu_list_3, .header_menu_list_4{
    color: #E4E4E4;
    display: flex;
    font-size: 22px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-right: 90px;
text-decoration: none;
}
.header_menu_list_3:hover{
    color:  #f3a93b;
}
.header_menu_list_2:hover{
    color:  #f3a93b;
}
.header_menu_list_1:hover{
    color:  #f3a93b;
}

.header_menu_list_4:hover{
    color:  #f3a93b;
}
.main_first_container_content{
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}
.main_first_container_content_left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}
.main_first_container_content_left_text{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 27px;
}
.main_first_container_content_left_text_main{
    text-align: start;
    color: #E4E4E4;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 27px;
}
.main_first_container_content_left_text_name{
    text-align: start;
    color: #E4E4E4;
    font-size: 63px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 27px;
}
.main_first_container_content_left_text_info{
    text-align: start;
    color: #E4E4E4;
    font-size: 22px;
font-style: normal;
font-weight: 300;
line-height: 32px;
}
.main_first_container_content_left_button{
    width: 45%;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: var(--orange, linear-gradient(87deg, #E2A300 4.47%, #E29500 95.53%));
    box-shadow: 0px 2px 13px 0px rgba(226, 158, 0, 0.48);
    margin-top: 10px;
}
.main_first_container_content_left_button:hover{
    color: #00C4F0;
}
.main_first_container_content_left_button_btn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main_first_container_content_left_button_btn_link{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: .2s;
}
.main_first_container_content_left_button_btn_link:hover{
    color: aliceblue;
}


.main_first_container_content_right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_first_container_content_right_img{
    width: 100%;
    height: 100%;
}
/* Second page */
.main_second{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D2D2D;
}
.main_second_container{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_second_container_top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main_second_container_top_menu_1, .main_second_container_top_menu_2, .main_second_container_top_menu_3, .main_second_container_top_menu_4{
    background: #484747;
    border-radius: 29px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_second_container_top_menu_1_img, .main_second_container_top_menu_2_img, .main_second_container_top_menu_3_img, .main_second_container_top_menu_4_img, .main_second_container_bottom_menu_5_img, .main_second_container_bottom_menu_6_img, .main_second_container_bottom_menu_7_img{
    width: 85px;
    height: 85px;
    margin-top: 50px;
    margin-bottom: 25px;
}
.main_second_container_top_menu_1_text, .main_second_container_top_menu_2_text, .main_second_container_top_menu_3_text, .main_second_container_top_menu_4_text, .main_second_container_bottom_menu_5_text, .main_second_container_bottom_menu_6_text, .main_second_container_bottom_menu_7_text{
    color: #E4E4E4;
    font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-align: center;
margin-bottom: 50px;
}
.main_second_container_bottom{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.main_second_container_bottom_menu_5, .main_second_container_bottom_menu_6, .main_second_container_bottom_menu_7{
    background: #484747;
    border-radius: 29px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
}
.main_third{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D2D2D;
}
.main_third_container{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}
.main_third_container_content{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.main_third_container_images{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 20px;
}
.main_third_container_images_first{
    width:  80%;
    display: flex;
    margin-bottom: 150px;
}
.main_third_container_images_second{
    width:  70%;
    display: flex;
}
.main_third_container_text{
    width: 40%;
    border-radius: 14px;
background: #1C1C1C;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 10px;
}
.main_third_container_text_first_1{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.main_third_container_text_first{
    text-decoration: none;
    color: #E4E4E4;
    font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.main_third_container_text_second{
    color: #FFF;
    font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 0.2px;
text-align: center;
margin-bottom: 15px;
}
.main_third_container_images_1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_third_container_images_1_first{
    width: 85%;
    display: flex;
}
.main_fourth{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C1C1C;
}
.main_fourth_container{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_fourth_container_logo{
    
    font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 50px;
}
.main_fourth_container_logo_1{
    text-decoration: none;
    color: #FFF;
}
/* .main_fourth_container_content_con{
    display: flex;
    align-items: center;
    width: 100%;
}
.main_fourth_container_content_con_button{
    border-radius: 50%;
    background-color: #E29500;
} */
.main_fourth_container_content{
    width: 90%;
    border-radius: 29px;
    background: #2D2D2D;
    box-shadow: 0px 4px 15px 0px rgba(27, 27, 27, 0.28);
    display: flex;
    justify-content: center;
    padding: 50px;
}
.main_fourth_container_content_image{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
.main_fourth_container_content_image_img{
    width: 95%;
}
.main_fourth_container_content_text{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_fourth_container_content_text_name{
    color: #FFF;
    font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-align: center;
margin-bottom: 25px;
margin-top: 32px;
}
.main_fourth_container_content_text_info{
    color: #FFF;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.main_fourth_container_content_text_link{
    text-align: center;
    font-size: 25px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-top: 20px;
}
.main_fourth_container_content_text_link_1{
    text-decoration: none;
    color: #E2A100;
}
.main_container_five{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #414141;
}
.main_container_five_content{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_container_five_content_left{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_container_five_content_left_1{
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}
.main_container_five_content_left_1_1{
    text-decoration: none;
    color: #FFF;
}
.main_container_five_content_mid{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.main_container_five_content_mid_1{
    text-align: left;
    color: #FFF;
    font-size: 18px;
    margin-bottom: 10px;
}
.main_container_five_content_left_right{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main_container_five_content_left_right_info{
    color: #FFF;
    font-size: 12px;
    margin-top: 10px;
    text-align: left;
    margin-left: 12px;
}
